<!DOCTYPE html>
<html>
    <head>
      <title>Amanda's Avenue</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <%= render 'layouts/header' %>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <!--<h1>Welcome to Amanda's Avenue</h1>-->
            <!--<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>-->
            <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->
          </div>
        </div>
        <!--<div class="widewrapper main">-->
          <!--<img src="../images/cover_photo_mnts.JPG" class="img-responsive" alt="JOHN C. LOWERY, INC">-->
        <!--</div>-->
        <div class="container">
          <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
    </body>
</html>
